@font-face {
     font-family: "BBH Sans Bogle", sans-serif;
     font-weight: 300;
     font-style: normal;
   }

   
   @font-face {
    font-family: 'Gyroscope Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
  }
   

  
