@font-face {
    font-family: "BBH Sans Bogle";
    src: url("/fonts/BBH-Sans-Bogle-Regular.woff2") format("woff2"),
         url("/fonts/BBH-Sans-Bogle-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  

  
