body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }

  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes rotateLogo {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .intro-image {
    width: 85px;
    height: 85px;
    animation: rotateLogo 1s linear infinite;
    
  }

 .intro-text {
        font-size: 25px;
        opacity: 0;
        animation: fadeIn 2s ease forwards;
      }
  
      @keyframes fadeIn {
        to { opacity: 1; }
      }


 /* ! RESPONSIVE MOBILE (intro) */     
@media (max-width: 768px){
  .intro-image {
    width: 65px;
    height: 65px;
    animation: rotateLogo 1s linear infinite;
    
  }

.intro-text {
  font-size: 12px;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  to { opacity: 1; }
}

}